.poke-info {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 10px;
}

.poke-img {
  width: 150px;
}

.poke-name {
  margin: 0;
}

.poke-name , .poke-type {
  text-transform: capitalize;
}

.info-container {
  display: flex;
  justify-content: center;
}

.poke-type {
  padding: 0 5px;
}

.stats-container {
  text-align: start;
}